
@media (min-width: 768px) { 
	.reg-form-container .reg-form .right-col{
		margin-top: 0px;
	}
	.reg-fields{
		border-left: 1px solid #dcdcdc;
	}
	body{
		font-size: 16px;
	}
	.profile-container, .reg-form-container{
		top: 120px;
	}
}
