$font-size-small: 0.875em;
$font-size-medium: 1em;
$font-size-large: 1.375em;
$font-size-xlarge: 2.125em;

$font-family: Open sans, sans-serif;
$font-semibold: 600;
$font-bold: 700;

$font-darkgrey: #929292;
$font-darkgrey-2: #999999;

$error-color: #A94442;
$theme-text-color: #81afc5;